{% extends 'layout.html' %}
{% block title %}Room {{room}}{% endblock title %}

{% block content %}
<title>Flask-SocketIO-Chat: {{ room }}</title>

{# socketIO #}
<script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>

<div class="row col-md-4 p-3">
    <h3>Chat, Room: {{ room }}</h3>
    <textarea class="form-control bg-white" disabled id="chat" rows="10"></textarea><br><br>
    <input id="text" size="80" onkeypress="sendText(event)" placeholder="Enter your message here"><br><br>
    <a href="/" onclick="leave_room();">Leave this room</a>
</div>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/chat.js') }}"></script>

{% endblock content %}