{% extends 'layout.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
    <div class="border border-primary border-opacity-50 rounded col-md-4 p-2">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert" "> {{ message }} </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
 
        <form action="" method="post">
        
            <div class="form-floating col-sm-6 offset-sm-3 text-primary">
                {{ form.name(class_="form-control border-primary border-opacity-50 fs-4 fw-bold text-primary", placeholder="") }}
                {{ form.name.label(for="name") }}
            </div>
            
            {# div users #}
            <div id="users" name="users" class="alert alert-info p-3 mt-5 bg-opacity-10 border border-info border-opacity-10 rounded">
            </div>
        
        </form>

        {# div chat #}
        {#{% if user_name %}#}

            <div class="p-3">
                <h4>{{user_name}}</h4>
                <h5>Chat, Room: {{ room }}</h3>
                <textarea class="form-control bg-white" disabled id="chat" rows="10"></textarea><br><br>
                <input id="text" class="form-control" size="80" onkeypress="sendText(event)" placeholder="Enter your message here"><br><br>
                <a href="/left" onclick="leave_room();">Leave this room</a>
            </div>
                
        

        {#{% else %}#}



        {#{% endif %}#}
    </div>
     {# socketIO #}
     <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
        
     <script type="text/javascript" src="{{ url_for('static', filename = 'js/chat.js') }}"></script>

{% endblock content %}