{% extends 'layout.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
    {# div users #}
    <div id="users" class="alert alert-secondary my-3 p-3">
    </div>

    {# div chat #}
    {#{% if user_name %}#}

        aqui {{ user_name }}

        <div class="row col-md-4 p-3">
            <h4>{{user_name}}</h4>
            <h5>Chat, Room: {{ room }}</h3>
            <textarea class="form-control bg-white" disabled id="chat" rows="10"></textarea><br><br>
            <input id="text" size="80" onkeypress="sendText(event)" placeholder="Enter your message here"><br><br>
            <a href="/" onclick="leave_room();">Leave this room</a>
        </div>
            
       

    {#{% else %}#}

        {# login form #}
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
            {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
            {{ form.submit() }}
        </form>

    {#{% endif %}#}

     {# socketIO #}
     <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
        
     <script type="text/javascript" src="{{ url_for('static', filename = 'js/chat.js') }}"></script>

{% endblock content %}