{% extends 'layout.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
    {# login form #}
    <form method="POST">
        {#
        {{ form.hidden_tag() }}
        {{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
        {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
        {{ form.submit() }}
        #}

        <form action="" method='POST' class="p-4">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" required id="name" name="name" placeholder="">
                <label for="name">Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" required id="room" name="room" placeholder="">
                <label for="room">Room</label>
            </div>

            <button type="submit" title="go" class="bi bi-check2 text-primary fs-1 border-0 bg-transparent"></button>

        </form>

        {# div users #}
        <div id="users" name="users" class="alert alert-secondary my-3 p-3">
        </div>
    </form>




    {# div chat #}
    {#{% if user_name %}#}

        <div class="row col-md-4 p-3">
            <h4>{{user_name}}</h4>
            <h5>Chat, Room: {{ room }}</h3>
            <textarea class="form-control bg-white" disabled id="chat" rows="10"></textarea><br><br>
            <input id="text" size="80" onkeypress="sendText(event)" placeholder="Enter your message here"><br><br>
            <a href="/" onclick="leave_room();">Leave this room</a>
        </div>
            
       

    {#{% else %}#}



    {#{% endif %}#}

     {# socketIO #}
     <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
        
     <script type="text/javascript" src="{{ url_for('static', filename = 'js/chat.js') }}"></script>

{% endblock content %}